.outer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 95vh;
    text-align: center;
    grid-template-rows: 15% 15% 20% 25% 20% 5%;
    grid-template-areas:
        "logo logo"
        "nav tools"
        "hero hero"
        "main main"
        "ad ad"
        "footer footer";
}

.logo-cont {
    grid-area: logo;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: teal;
   
}


.header-tools {
    grid-area: tools;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: teal;
    
}

.global-nav {
    grid-area: nav;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: teal;
}

header {
    grid-column: 1/3;
    background-color: teal;
    width: 100%;
    grid-row: 1/2;
}

.hero-cont {
    grid-area: hero;
}

.main-cont {
    grid-area: main;
}

.ad-cont {
    grid-area: ad;
    border: 5px solid blue;
    padding: 20px;
    margin: 10px;
}

.footer-cont {
    grid-area: footer;
}

main {
    width: 75%;
    height: 30%;
    align-self: center;
}

.main-inner-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 576px) {
    .outer-container {
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 10% 10% 8% 20% 30% 17% 5%;
        grid-template-areas:
            "logo nav tools"
            "hero hero hero"
            ". . ."
            "feature feature ad"
            "listing listing listing"
            "bar bar bar"
            "footer footer footer";
            background-color: rgb(188, 177, 218);
            grid-column: 1 / 4;
    }
}

@media (min-width: 992px) {
    .outer-container {
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            "logo nav tools"
            "hero main ad"
            "footer footer ad";
        background-color: rgb(218, 177, 177);
        grid-column: 1 / 4;
    }
}

.dreamteam-name {
    font-family: fantasy;
    font-size: 15px;
    padding-top: 0.1cm;
   
}
.dreamteam-logo {
    width: 50px;
    height: 50px;
    padding-top: 0.1cm;
    padding-left: 0.1cm;
}
.search-bar {
    padding-top: 0.3cm;
    padding-right: 0.3cm;
}

.ul-navlist {
    color: springgreen;
    padding: 0;
}

