.outer-container {
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 100px 1fr 3fr 1fr 100px; */
    height: 95vh;
    grid-template-rows: auto;
    grid-template-areas:
        "logo logo "
        "nav tools"
        "hero hero "
        "main main "
        "ad ad "
        "footer footer";
}

.logo-cont {
    grid-area: logo;
    display: flex;
    flex-direction: column;  
}

.header-tools {
    grid-area: tools;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.global-nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: silver;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: teal;
    justify-items: center;
    align-items: center;
    width: 100%;
    grid-template-rows: 200px 50px;
    grid-template-columns: 60% 40%;
}

.hero-cont {
    grid-area: hero;
}

.main-cont {
    grid-area: main;
}

.ad-cont {
    grid-area: ad;
    border: 5px solid blue;
    padding: 20px;
    margin: 10px;
}

.footer-cont {
    grid-area: footer;
}

main {
    width: 75%;
    height: 30%;
    align-self: center;
}

.main-inner-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 576px) {
    .outer-container {
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            "logo nav tools"
            "hero main ad"
            "footer footer footer";
            background-color: rgb(188, 177, 218);
    }
}

@media (min-width: 992px) {
    .outer-container {
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            "logo nav tools"
            "hero main ad"
            "footer footer ad";
        background-color: rgb(218, 177, 177);
    }
}

.dreamteam-name {
    font-family: fantasy;
    font-size: 15px;
    padding-top: 0.1cm;
   
}
.dreamteam-logo {
    width: 50px;
    height: 50px;
    padding-top: 0.1cm;
    padding-left: 0.1cm;
}
.search-bar {
    padding-top: 0.3cm;
    padding-right: 0.3cm;
}

.ul-navlist {
    color: springgreen;
    padding: 0;
}
header-cont {
    align-content: center;
}
section {
    display: block;
}