.outer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 95vh;
    text-align: center;
    grid-template-rows: 15% 15% 10% 10% 25% 22% 3%;
    grid-template-areas:
        "logo logo"
        "nav tools"
        "heroact heroact"
        "main main"
        "ad ad"
        "mainli mainli"
        "footer footer";
}

.logo-cont {
    grid-area: logo;
    background-color: teal;
   
}

.header-tools {
    grid-area: tools;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: teal;
    
}

.global-nav {
    grid-area: nav;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: teal;
}

header {
    grid-column: 1/3;
    background-color: teal;
    width: 100%;
    grid-row: 1/2;
}

.hero-cont {
    grid-area: hero;
}
.hero-action {
    grid-area: heroact;
}

.main-article {
    grid-area: main;
}

.main-inner-cont {
    grid-area: mainli
}
.ad-cont {
    grid-area: ad;
    padding: 20px;
    margin: 10px;
}

.footer-cont {
    grid-area: footer;
}

main {
    width: 75%;
    height: 30%;
    align-self: center;
}

.main-inner-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 576px) {
    .outer-container {
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 10% 10% 8% 20% 30% 17% 5%;
        grid-template-areas:
            "logo nav tools"
            "hero hero hero"
            "heroact heroact heroact"
            "main main ad"
            "mainli mainli mainli"
            "sideb sideb sideb"
            "footer footer footer";
            background-color: rgb(188, 177, 218);

        }
    .logo-cont {
        grid-area: logo;
    }
    .global-nav {
        grid-area: nav;
    }
    .header-tools {
        grid-area: tools;
    }
    .hero-cont {
        grid-area: hero;
    }
    .hero-action {
        grid-area: heroact;
    }
    .ad-cont {
        grid-area: ad;
    }
    .footer-cont {
        grid-area: footer;
    }
    .main-cont {
        grid-area: main;
    }
    .main-inner-cont {
        grid-area: mainli;
    }
    .sidebar {
        grid-area: sideb;
    }
}

@media (min-width: 992px) {
    .outer-container {
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            "logo nav tools"
            "hero main ad"
            "footer footer ad";
        background-color: rgb(218, 177, 177);
      
    }
    .logo-cont {
        grid-area: logo;
    }
    .global-nav {
        grid-area: nav;
    }
    .header-tools {
        grid-area: tools;
    }
    .hero-cont {
        grid-area: hero;
    }
    .hero-action {
        grid-area: heroact;
    }
    .ad-cont {
        grid-area: ad;
    }
    .footer-cont {
        grid-area: footer;
    }
    .main-cont {
        grid-area: main;
    }
    .main-inner-cont {
        grid-area: mainli;
    }
    .sidebar {
        grid-area: sideb;
    }
}

.dreamteam-name {
    font-family: fantasy;
    font-size: 15px;
    padding-top: 0.1cm;
   
}
.dreamteam-logo {
    width: 50px;
    height: 50px;
    padding-top: 0.1cm;
    padding-left: 0.1cm;
}
.search-bar {
    padding-top: 0.3cm;
    padding-right: 0.3cm;
}

.ul-navlist {
    color: springgreen;
    padding: 0;
}

.navlist{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1 {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
